project:
  type: website
  output-dir: docs
  render: # https://quarto.org/docs/projects/quarto-projects.html#render-targets
    - "/posts/*"
    - "/static/*"
    - "*.qmd"
  preview: 
    port: 1624

website:
  title: "ぷにうぱ"
  image: ぷにうぱ.png
  favicon: ぷにうぱ.png
  site-url: https://puniupa.github.io/
  description: "法学＋数学で世界を渡り歩こう"
  navbar:
    right:
      - text: "カテゴリ一覧"
        file: ./static/AllCategories.qmd
    #   - text: "Sessions"
    #     file: ./static/Sessions.qmd
    #   - text: "Slides"
    #     file: ./static/Slides.qmd
      - text: "自己紹介"
        file: ./static/AboutUs.qmd
    # tools:
    #   - icon: github
    #     href: https://github.com/puniupa/puniupa.github.io/
      # - icon: envelope
      #   href: mailto:shiba.hirofumi@ism.ac.jp
      # - icon: twitter
      #   href: https://twitter.com/ano2math5
  # back-to-top-navigation: true
  page-navigation: true
  page-footer: 
    # border: true
    left: 
      - text: "Hirofumi Shiba, Shiori Sagae"
        href: https://162348.github.io/
    right:
      - icon: github
        href: https://github.com/162348/162348.github.io/
      - icon: envelope
        href: mailto:puniupa48@gmail.com
      - icon: rss
        href: blog.xml
    background: "#E95420"
  # repo-url: https://github.com/162348/162348.github.io/
  # repo-actions: [edit, issue]
  search:
    keyboard-shortcut: ["?", "H"]
  open-graph: true
  twitter-card: true
  # google-analytics: "G-36GX2G6GLL"
  comments:
    giscus:
      repo: puniupa/puniupa.github.io
      repo-id: R_kgDOMOsIVA
      category: Announcements
      category-id: DIC_kwDOMOsIVM4CgazP
      mapping: pathname
      reactions-enabled: true
      loading: lazy
      input-position: top

format:
  html:
    mainfont: "BIZ UDPGothic"
    theme: united  # #E95420
    # theme: 
    # light: minty
    # dark: cyborg
    css: styles.css
    toc: true
    number-sections: true
    highlight-style: ayu
    code-block-bg: true
    code-block-border-left: "#7CC4AC"
    code-overflow: scroll
    code-fold: true
    code-annotations: select
    # license: "CC BY-NC-ND"
    fig-width: 6
    fig-height: 4
    toc-title: "目次"
    abstract-title: "概要"
    include-in-header: include-in-header.html

crossref:
    eq-prefix: 式
    def-prefix: 定義
    def-title: 定義
    thm-prefix: 定理
    thm-title: 定理
    fig-prefix: 図
    fig-title: 図
date-format: "M/DD/YYYY"

execute:
  freeze: true