/*
blockquote {
    color: #333333; // 文字色を濃いグレーに設定
    font-weight: bold; // 文字を太くする
    font-size: 1em; // フォントサイズを設定
    background-color: #f9f9f9; // 背景色を薄いグレーに設定
    padding: 10px; // 内側の余白を設定
    border-left: 5px solid #ccc; // 左側に境界線を設定
}
*/

.math.display .MathJax {
    font-size: 100% !important;
}

.math.inline .MathJax {
    font-size: 110% !important;
}

.slide-deck {
    width: 100%;    /* 画面の幅全体に合わせる */
    height: 475px;  /* 高さを600pxに設定 */
    border: 3px solid #80c4ac;   /* 枠線を非表示にする */
}

/* 親要素のスタイル */
.article-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 記事カードのスタイル */
.article-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s ease-in-out;
  align-items: center;
}

.article-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.article-image {
  width: 100%;
  height: auto;
}

.article-content {
  padding: 15px;
}

.article-title {
  font-size: 1.2em;
  margin: 0 0 10px;
}

.article-description {
  font-size: 0.9em;
  color: #555;
}

.twitter-tweet {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  width: 90%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  text-decoration: none;
  color: inherit;
  transition: box-shadow 0.3s ease-in-out;
  align-items: center;
}

.cvdate {
  float: right;
}

.small-leter {
  font-size: 10pt;
}

.artificial-align {
  text-align: right;
}

.nav-footer a {
  color: white !important;
}

.nav-footer-left {
  white-space: nowrap;
}

.color-minty {
  color: #80c4ac;
}

.color-blue {
  color: blue;
}

.color-red {
  color: red;
}

.footnote-size {
  font-size: 90% !important;
}

.script-size {
  font-size: 80% !important;
}

.small-size {
  font-size: 70% !important;
}